body{
    color:firebrick;
    background-color: hotpink;
}
header{
    border-bottom: solid 2px rgb(rgb(255, 0, 140));
    padding: 20px;
    font-size: 32px;
    color: black;
    background: crimson;
}