body{
    color:firebrick;
    background-color: hotpink;
}
header{
    border-bottom: solid 2px rgb(rgb(255, 0, 140));
    padding: 20px;
    font-size: 32px;
    color: black;
    background: crimson;
}
.chamada{
    background: floralwhite;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.categorias_videos{
    display: flex;
    overflow: auto;
    gap: 15px;
}
.categorias{
    padding: 20px;
    padding-right: 20px;
}